.button{
    width: 400px;
    height: 800px;
    background: rgb(48, 46, 46);
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-content{
    position: relative;
    text-align: center;
    /*flex: 1;*/
    height: 800px;
}

.button-title{
    margin: 5px;
    font-size: 2em;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    transition: transform 0.3s;
}

.button-image{
    width: 360px;
    height: 425px;
    margin: 10px 0;
    border-radius: 20%;
    padding-top: 50px;
    transition: transform 0.3s;
}

.button-desc{
    padding-top: 50px;
    font-size: 1em;
    bottom: 0;
    color: rgb(255, 255, 255);
    transition: transform 0.3s;
}

.button:hover{
    /*background: rgb(0, 194, 16);*/
    background: linear-gradient(60deg, rgb(51, 255, 0), rgb(6, 165, 46));
    cursor: pointer;
    text-shadow: 0 0 0.5rem #fff;
    box-shadow: 
        0 0 0.5rem #26e66f,
        0 0 1rem #adffb1,
        0 0 1.5rem #65ff7a,
        0 0 2.5rem #00ff0d;
}

.button:hover .button-image {
    transform: scale(0.9);
}

.button:hover .button-title{
    transform: scale(1.5);
}

.button:hover .button-desc{
    transform: scale(1.1);
}