.home{
    background-color: darkgrey;
    padding: 20px;
}

.home-title{
    text-align: center;
}

.home-desc{
    text-align: center;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 400px);
    justify-content: center;
    gap: 50px;
}