.home{
    /*background-color: rgb(139, 138, 138);*/
    padding: 20px;
}

.home-title{
    color: aliceblue;
    text-align: center;
}

.home-desc{
    color: aliceblue;
    text-align: center;
}

.home-grid{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 400px);
    justify-content: center;
    gap: 50px;
}