.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    background-color: rgb(53, 52, 52);
    /*height: 50px;*/
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;           
}

.li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.activeLink{
    font-weight: bold;
    text-shadow: 
        0 0 0.5rem #c0c0c0,
        0 0 1rem #ffffff;
}