.projectTitle{
    text-align: center;
}

.projectTech-grid{
    justify-content: center;
    padding: 30px;
    display: grid;
    background-color: rgb(49, 49, 49);
    grid-template-columns: repeat(2, auto);
}

.projectDescription{
    text-align: center;
}

.projectImg-grid{
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
}

.projectImg{
    width: 250px;
    height: 200px;
}

.projectImg-selected{
    grid-column: span 2;
    grid-row: span 2;
    width: 510px;
    height: 410px;
}

.projectImg:hover{
    background: rgb(8, 173, 82);
    cursor: pointer;
    transform: scale(0.9);
    text-shadow: 0 0 0.5rem #fff;
    box-shadow: 
        0 0 0.5rem #26e66f,
        0 0 1rem #adffb1,
        0 0 1.5rem #65ff7a,
        0 0 2.5rem #00ff0d;
}

